*
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;    
    font-weight:600;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0px;    
}

.logo {
    float: left;
    margin:25px;
    font-weight: 700;
}
.header {
    width:95%;
    margin: 0 auto;
    min-height: 150px;
    padding-right:5%;
}
.col {
    display: inline-block;
    width:25%;
    font-weight: 500;
}
.col a {
    text-decoration: none;
    color:#232323;
}
.menu {
    text-align: right;
    min-height: 40px;
    margin-top:100px;
}

.intro-sec {
    height: 700px;
    margin: 0 auto;
    padding-left:5%;
    
}
.secondary-sec {
    height: 700px;    
    margin: 0 auto;
    padding-left:5%;
    background: #f9f8fe;
    margin-top: -6px;
}
.separator-bg {
    width: 100%; 
}
.dark-pane {
    min-height: 180px;
    background-color: #575989;
    color:#eeeeee;
    width:100%;
    left:0;
    top:0;
    overflow: hidden;
    padding-left:5%;
}


footer {
    min-height: 180px;
    background-color: #07043b;
    color:#fbfcff;
    left:0;
    top:0;
    width:100%;
    overflow: hidden;
    padding-left:5%;
}

.headline {
    font-weight: 700;
    font-size:25px;
    font-family: 'Raleway', sans-serif;
    margin-bottom:25px;
}
.get-started {
    margin-top:30px;
}
.get-started-button{
    width:120px;
    height:30px;
    background: #2f65f9;
    color:white;
    line-height: 30px;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    margin-left:15px;
}
.get-email-box {
    width:200px;
    height:30px;
}
.info-link {
    color:green
}
.info-link a {
    text-decoration: underline;
    color:inherit;
}


@media (max-width: 576px) {
    .illus-img {
        width:300px;    
        position: absolute;
    }
}
@media (min-width: 577px) {
    .illus-img {
        width: 600px;
        float: right;
        margin-right: 12%;
    }
}


.feedback-box {
    background: #ffffff;
    color:#111111;
    border-radius:15px;
}
.profile {
    vertical-align: middle;
}

.info-box {
    display: block;
    margin-top: 15px;    
}
ul li {
    list-style: none;
}
.social-logo {
    width: 16px;
}